@model IEnumerable<MVC_Review_Site.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.ID }, new { @class = "btn btn-default", role = "button" })
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Location.BodyOfWater)</h3>
                    <p>@Html.DisplayFor(modelItem => item.CityState)</p>
                    <p>@Html.DisplayNameFor(model => model.StoneAvailability) : @Html.DisplayFor(modelItem => item.StoneAvailability)</p>
                    <p>@Html.DisplayNameFor(model => model.OverallReview) : @Html.DisplayFor(modelItem => item.OverallReview)</p>
                    <p>@Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-default", role = "button" })</p>

                </div>
            </div>
        </div>
    }
</div>






@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Location.BodyOfWater)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeatherType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterCondition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoneAvailability)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageSkip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverallReview)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Location.BodyOfWater)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CityState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeatherType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WaterCondition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoneAvailability)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AverageSkip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverallReview)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>*@
