@model IEnumerable<MVC_Review_Site.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.ID }, new { @class = "btn btn-default", role = "button" })
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Location.BodyOfWater)</h3>
                    <p>@Html.DisplayFor(modelItem => item.CityState)</p>
                    <p>@Html.DisplayNameFor(model => model.StoneAvailability) : @Html.DisplayFor(modelItem => item.StoneAvailability)</p>
                    <p>@Html.DisplayNameFor(model => model.OverallReview) : @Html.DisplayFor(modelItem => item.OverallReview)</p>
                    <p>@Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-default", role = "button" })</p>

                </div>
            </div>
        </div>
    }
</div>